@import "../mixins.module.scss";

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);

  @include screen-size(mobile) {
    height: 150px;
    padding-top: 50px;
  }
}

.title {
  color: var(--txt-col-light);
  font-size: 30px;

  @include screen-size(mobile) {
    font-size: 25px;
  }
}

.subtitle {
  font-size: 25px;
  margin-bottom: 30px;
  color: var(--txt-col-vlt);
  text-align: left;
}

.section {
  padding: 60px 0px;
}

.wrapper {
  @include screen-size(mobile) {
    display: flex;
    flex-direction: column;
  }
}

.company_list {
  display: flex;
  width: 800px;
  margin: 0 auto;
  justify-content: space-between;

  @include screen-size(mobile) {
    width: 100%;
    flex-direction: column;
  }
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 150px;
  transition: scale 300ms;

  &:hover {
    scale: 1.05;
  }
}

.roles_block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;

  @include screen-size(mobile) {
    flex-direction: column;
  }
}

.image {
  @include screen-size(mobile) {
    width: 100%;
    height: auto;
  }
}

.logo_image {
  @include screen-size(mobile) {
    width: 65%;
  }
}

.roles_list {
  width: max-content;
  margin-bottom: 40px;

  @include screen-size(mobile) {
   width: 100%;
  }
}

.roles_list_item {
  display: flex;
  height: 25px;
  align-items: center;
  margin-bottom: 10px;

  @include screen-size(mobile) {
    height: max-content;
    width: 100%;
    flex-direction: column;
    align-items: start;
    padding-left: 10px;
    border-left: 3px solid var(--golden);
  }
}

.icon {
  @include screen-size(mobile) {
    display: none;
  }
}

.role {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  color: var(--txt-col-vlt);
  @include screen-size(mobile) {
    margin-bottom: 3px;
  }
}

.role_name {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-right: 10px;
  line-height: 1;

  @include screen-size(mobile) {
    margin-left: 0;
  }
}

.company {
  display: flex;
  align-items: center;
  font-size: 17px;
  color: rgb(82, 80, 80);
  @include screen-size(mobile) {
    font-size: 15px;
  }
}

.signature {
  font-family: var(--culpa);
  font-size: 60px;
  color: var(--txt-col-vlt);
}
