.head {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    background: #0f0c29; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #24243e,
      #302b63,
      #0f0c29
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  }
  
  .title {
    color: var(--txt-col-light);
    font-size: 30px;
    
  }
  .subtitle {
    font-size: 25px;
    margin-bottom: 30px;
    color: var(--txt-col-vlt);
    text-align: left;
  }

  .section {
    min-height: 100vh;
    padding: 60px 0px;
 
  }

  .company_list {
    display: flex;
    width: 800px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 150px;
    transition: scale 300ms;
  
    &:hover {
      scale: 1.05;
    }
  }

  .roles_block {
    display: flex;
    justify-content: space-between;
    
    margin-bottom: 60px;
  }

  .roles_list {
    width: max-content;
    margin-bottom: 40px;
  }

  .roles_list_item {
    display: flex;
    height: 25px;
    align-items: center;
    margin-bottom: 10px;
  }

  .role {
    display: flex;
    align-items: center;
    // margin-right: 10px;
    font-size: 18px;
    font-weight: 600;
    color: var(--txt-col-vlt);
    
  }

.role_name {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-right: 10px;
line-height: 1;
}

  .company {
    display: flex;
    align-items: center;
    font-size: 17px;
    color: rgb(82, 80, 80)
    
  }

  .signature {
    font-family: var(--culpa);
    font-size: 60px;
    color: var(--txt-col-vlt);
  }