.head {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    background: #0f0c29; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #24243e,
      #302b63,
      #0f0c29
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  }
  
  .title {
    color: var(--txt-col-light);
    font-size: 30px;
  }
  .subtitle {
    font-size: 20px;
    margin-bottom: 25px;
    color: var(--txt-col-vlt);
    text-align: center;
  }

  .section {
    min-height: 100vh;
    padding: 60px 0px;
  }

  .company_list {
    display: flex;
    width: 800px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 150px;
    transition: scale 300ms;
  
    &:hover {
      scale: 1.05;
    }
  }