.backdrop {
  position: fixed;
  display: flex;
  justify-content: end;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.55);
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  width: 70%;
  height: 100vh;
  padding: 30px;
  background-color: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30);
}

.closeBtn {
  position: relative;
  width: max-content;
  display: flex;
  margin-bottom: 30px;
  
  
  &:hover {
    color: var(--accent-mb);
  }
}

.nav {
    width: max-content;
    margin: 0 auto;
}

.nav_list_item {
  &:not(:last-of-type) {
    margin-bottom: 15px;
  }

}

.link {
  font-weight: 500;
  color: var(--txt-col-light);
}

.link_active {
  @extend .link;
  color: var(--golden);
}