@import '../mixins.module.scss';

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);

  @include screen-size(mobile) {
    height: 150px;
    padding-top: 50px;
  }
}

.title {
  color: var(--txt-col-light);
  font-size: 30px;

  @include screen-size(mobile) {
    font-size: 25px;
  }
}

.about_section {
  padding: 60px 0px;
}

.about_block {
    display: flex;
    justify-content: space-between;

    @include screen-size(mobile) {
      flex-direction: column-reverse;
    }
}

.image {
 @include screen-size(mobile) {
  width: 100%;
  height: auto;
 }
}

.text_block {
    width: 600px;
    
    @include screen-size(mobile) {
      width: 100%;
      margin-top: 25px;
    }
}

.text {
  font-size: 18px;
  text-align: left;
  &:not(:last-of-type) {
    margin-bottom: 10px;
   
  }

  @include screen-size(mobile) {
    font-size: 16px;
  }
}

.name_plate {
    margin-top: 20px;
    padding: 15px;
    background: #0f0c29; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #24243e,
      #302b63,
      #0f0c29
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);

    @include screen-size(mobile) {
      margin-top: 10px;
    }
}

.name {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
    color: var(--golden);
    @include screen-size(mobile) {
      font-size: 16px;
    }
}
.position {
    font-size: 18px;
    color: var(--txt-col-light);
    @include screen-size(mobile) {
      font-size: 12px;
    }

}