.head {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    background: #0f0c29; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #24243e,
      #302b63,
      #0f0c29
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  }
  
  .title {
    color: var(--txt-col-light);
    font-size: 30px;
  }

  .section {
    min-height: 100vh;
  }