.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border: 1px solid var(--prime-gb);
  border-radius: 50%;


  &:hover { 
    svg {
      fill: var(--golden);
    }
  }
}

