:root {
  --golden: #f0b901;
  --txt-col-light: #fff;
  --txt-col-vlt: #302b63;
  --back-col-blue: #0c4c83;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  position: relative;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
padding: 0;
margin: 0;
font-family: var(--roboto);

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

svg {
  transition: fill 250ms;
}